/backend/__pycache__
/backend/Models/__pycache__
/backend/maps/__pycache__
Pipfile
/frontend/package-lock.json
/frontendtemp
/backend/flask_session/
/backend/testing/flask_session
/backend/testing/__pycache__
/backend/email_service/__pycache__
/flask_session/